body {
    font: bold 18px/26px Arial, sans-serif;
    /*
    background: url('http://57st.net/store/blog/2017/10/16/72850_screenshots_2013-06-26_00010.jpg') no-repeat;
    */
}
html {
    background: transparent;
}
html, body, #main {
    height: 100%;
}

.o0 {
    opacity: 0;
}

#main {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
    color: white;
    overflow: hidden;
    scroll-behavior: smooth;
}
#main, #main > div > div {
    transition: opacity 2s;
}
#main > div > div {
    padding: 2px 0;
}
#main > div > .g > span {
    color: #4f98ff;
}
#main > div > .s > span {
    color: #3992d6;
}
#main > div > .m {
    color: #de4dc6;
}
#main > div > .y {
    color: #cc181e;
}
#main img {
    margin: 2px 0;
}
#main > div > div > img:first-child {
    width: 16px;
}
