a,
body {
  color: #eceff4;
  font: bold 18px/22px sans-serif;
}

html,
.panel {
  background: #2e3440;
}

.main {
  margin-top: 36px;
  overflow: hidden;
}

.main > div > b {
  color: #3992d6;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.panel {
  border-bottom: 2px solid #4c566a;
  display: flex;
  font: 14px/24px sans-serif;
  justify-content: center;
  left: 0;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.panel > * {
  padding: 0 5px;
}

.panel > i:not(.active) {
  color: rgba(255, 255, 255, .4);
}

.panel > i.active {
  cursor: pointer;
}

.panel > div > img {
  vertical-align: -4px;
}

.wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 380px) {
  a,
  body {
    font: normal 14px/18px sans-serif;
  }

  .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
  }
}
