.main,
.main > div {
  transition: opacity 2s;
}

a {
  color: white;
}

body {
  color: white;
  font: bold 16px/20px 'helvetica neue', sans-serif;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .9);
}

html {
  background: transparent;
  /* background: url(https://57st.net/store/blog/2017/10/16/72850_screenshots_2013-06-26_00010.jpg) no-repeat fixed center; */
  overflow: hidden;
}

.o0 {
  opacity: 0;
}
