.main,
.main > div {
  transition: opacity 2s;
}

body {
  color: white;
  font: bold 16px/20px '.lucida grande ui', sans-serif;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .9);
}

html {
  background: transparent;
  /* background: url(http://57st.net/store/blog/2017/10/16/72850_screenshots_2013-06-26_00010.jpg) no-repeat fixed center; */
  overflow: hidden;
}

.main > .g > :nth-child(2) {
  color: #4f98ff;
}

.main > .s > :nth-child(2) {
  color: #3992d6;
}

.main > .y > :nth-child(2) {
  color: #cc181e;
}

.o0 {
  opacity: 0;
}
