<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Miranda</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="/store/base.css">
        <link rel="stylesheet" href="/store/base/style.css">
        <script src="https://webasr.yandex.net/jsapi/v1/webspeechkit.js"></script>
        <script src="https://webasr.yandex.net/jsapi/v1/webspeechkit-settings.js"></script>
        <script src="https://goodgame.ru/js/minified/global.js"></script>
        <script src="/store/common.js"></script>
        <script src="/store/base/init.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="main"></div>
        <script>
            window.names = [{{ names }}]
            window.ya.speechkit.settings.apikey = '{{ tts_api_key }}'
        </script>
    </body>
</html>
