<!DOCTYPE html>
<html lang="ru">
  <link rel="stylesheet" href="/store/base.css">
  <link rel="stylesheet" href="/store/base/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://webasr.yandex.net/jsapi/v1/webspeechkit.js"></script>
  <script src="https://webasr.yandex.net/jsapi/v1/webspeechkit-settings.js"></script>
  <script src="https://goodgame.ru/js/minified/global.js"></script>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="/store/common.js"></script>
  <script src="/store/base/init.js"></script>
  <title>Miranda</title>
  <main class="main">
    <template id="messages">
      {{#messages}}
        {{#isSystem}}
          <div class="{{getClasses}}">
            <span>Miranda</span>: {{{text}}}
          </div>
        {{/isSystem}}
        {{#isNormal}}
          <div class="{{getClasses}}">
            <img src="/store/icons/{{icon}}">
            <span>{{name}}</span>: <span>{{{text}}}</span>
          </div>
        {{/isNormal}}
      {{/messages}}
    </template>
  </main>
  <div class="controls">
    <i id="scroll" class="material-icons">arrow_downward</i>
  </div>
  <script>
    window.names = ['{{ names }}']
    window.ya.speechkit.settings.apikey = '{{ tts_api_key }}'
  </script>
</html>
